.vscode
.vscode/
.vscode/*
MauasaKataiRPG_DB/.env
MauasaKataiRPG_DB/Key/*
MauasaKataiRPG_DB/Key/
MauasaKataiRPG_Bot/.env
MauasaKataiRPG_API/.env
MauasaKataiRPG_Bot/build/*
MauasaKataiRPG_Bot/build/MauasaKataiRPG
MauasaKataiRPG_Bot/core